.carousel-container {
    background: #f1f1f1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-item {
    height: 20rem;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
	animation-name: fadeInOut;
    animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
}

@keyframes fadeInOut {
	0% {opacity: 0;}
	20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

.carousel-item h2 {
    font-size: 40px;
    margin-bottom: 5px;
    margin-left: 30px
}

.carousel-item p {
    font-size: 20px;
    margin-top: 0;
    margin-left: 30px;
}